:root {
    --pl-color-white: #ffffff;
    --pl-color-white-soft: #f9f9f9;
    --pl-color-white-mute: #f1f1f1;
    --pl-color-black: #1a1a1a;
    --pl-color-black-pure: #000000;
    --pl-color-black-soft: #242424;
    --pl-color-black-mute: #2f2f2f;
    --pl-color-indigo: #213547;
    --pl-color-indigo-soft: #476582;
    --pl-color-indigo-light: #aac8e4;
    --pl-color-gray: #8e8e8e;
    --pl-color-gray-light-1: #aeaeae;
    --pl-color-gray-light-2: #c7c7c7;
    --pl-color-gray-light-3: #d1d1d1;
    --pl-color-gray-light-4: #e5e5e5;
    --pl-color-gray-light-5: #f2f2f2;
    --pl-color-gray-dark-1: #636363;
    --pl-color-gray-dark-2: #484848;
    --pl-color-gray-dark-3: #3a3a3a;
    --pl-color-gray-dark-4: #282828;
    --pl-color-gray-dark-5: #202020;
    --pl-color-divider-light-1: rgba(60, 60, 60, .29);
    --pl-color-divider-light-2: rgba(60, 60, 60, .12);
    --pl-color-divider-dark-1: rgba(84, 84, 84, .65);
    --pl-color-divider-dark-2: rgba(84, 84, 84, .48);
    --pl-color-text-light-1: var(--pl-color-indigo);
    --pl-color-text-light-2: rgba(60, 60, 60, .7);
    --pl-color-text-light-3: rgba(60, 60, 60, .33);
    --pl-color-text-light-4: rgba(60, 60, 60, .18);
    --pl-color-text-light-code: var(--pl-color-indigo-soft);
    --pl-color-text-dark-1: rgba(255, 255, 255, .87);
    --pl-color-text-dark-2: rgba(235, 235, 235, .6);
    --pl-color-text-dark-3: rgba(235, 235, 235, .38);
    --pl-color-text-dark-4: rgba(235, 235, 235, .18);
    --pl-color-text-dark-code: var(--pl-color-indigo-light);
    --pl-color-green-focus: rgba(0, 212, 116, 0.6);
    --pl-color-green: #42b883;
    --pl-color-green-light: #42d392;
    --pl-color-green-lighter: #35eb9a;
    --pl-color-green-dark: #33a06f;
    --pl-color-green-darker: #155f3e;
    --pl-color-blue: #3b8eed;
    --pl-color-blue-light: #549ced;
    --pl-color-blue-lighter: #50a2ff;
    --pl-color-blue-dark: #3468a3;
    --pl-color-blue-darker: #255489;
    --pl-color-yellow: #ffc517;
    --pl-color-yellow-light: #ffe417;
    --pl-color-yellow-lighter: #ffff17;
    --pl-color-yellow-dark: #e0ad15;
    --pl-color-yellow-darker: #bc9112;
    --pl-color-red: #ed3c50;
    --pl-color-red-light: #f43771;
    --pl-color-red-lighter: #fd1d7c;
    --pl-color-red-dark: #cd2d3f;
    --pl-color-red-darker: #ab2131;
    --pl-color-purple: #de41e0;
    --pl-color-purple-light: #e936eb;
    --pl-color-purple-lighter: #f616f8;
    --pl-color-purple-dark: #823c83;
    --pl-color-purple-darker: #602960

    /*  ----   */
    --pl-color-bg: var(--pl-color-white);
    --pl-color-bg-soft: var(--pl-color-white-soft);
    --pl-color-bg-mute: var(--pl-color-white-mute);
    --pl-color-divider: var(--pl-color-divider-light-1);
    --pl-color-divider-focus: var(--pl-color-green-focus);
    --pl-color-divider-light: var(--pl-color-divider-light-2);
    --pl-color-divider-inverse: var(--pl-color-divider-dark-1);
    --pl-color-divider-inverse-light: var(--pl-color-divider-dark-2);
    --pl-color-text-1: var(--pl-color-text-light-1);
    --pl-color-text-2: var(--pl-color-text-light-2);
    --pl-color-text-3: var(--pl-color-text-light-3);
    --pl-color-text-4: var(--pl-color-text-light-4);
    --pl-color-text-error: var(--pl-color-red);
    --pl-color-text-code: var(--pl-color-text-light-code);
    --pl-color-text-inverse-1: var(--pl-color-text-dark-1);
    --pl-color-text-inverse-2: var(--pl-color-text-dark-2);
    --pl-color-text-inverse-3: var(--pl-color-text-dark-3);
    --pl-color-text-inverse-4: var(--pl-color-text-dark-4);
    --pl-color-brand: var(--pl-color-green);
    --pl-color-brand-light: var(--pl-color-green-light);
    --pl-color-brand-dark: var(--pl-color-green-dark);
    --pl-color-brand-highlight: var(--pl-color-brand-dark);

    /* Sizes */
    --pl-global-border-radius: 4px;
    --pl-global-inputs-padding: 4px;
}